<div class="bannercontainer">
    <div class="banner banner-thinh">
        <ul>
            <li data-transition="fade" data-slotamount="3" class="slide fading-slide">
                <div class="caption slide__video" data-autoplay='true' data-speed="1000">
                    <img alt='' src="~/FileUploads/images/no-way-home.jpg" class="image-slide">
                </div>
            </li>

            <li data-transition="fade" data-slotamount="3" class="slide fading-slide">
                <div class="caption slide__video" data-autoplay='true' data-speed="1000">
                    <img alt='' src="~/FileUploads/images/matrix.jpg" class="image-slide">
                </div>
            </li>

            <li data-transition="fade" data-slotamount="3" class="slide fading-slide">
                <div class="caption slide__video" data-autoplay='true' data-speed="1000">
                    <img alt='' src="~/FileUploads/images/eternals.jpg" class="image-slide">
                </div>
            </li>

            <li data-transition="fade" data-slotamount="3" class="slide fading-slide">
                <div class="caption slide__video" data-autoplay='true' data-speed="1000">
                    <img alt='' src="~/FileUploads/images/no-time-to-die.jpg" class="image-slide">
                </div>
            </li>


        </ul>
    </div>
</div>