@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>News</h2>

<div>
    <div class="col-sm-12">
        <h2 class="page-heading_1">Tin tức : </h2>

        <div class="col-sm-4 similar-wrap col--remove">
            <div class="post post--preview post--preview--wide">
                <div class="post__image">
                    <img alt='' src="~/Content/images/client-photo/post-thor.jpg">
                    <div class="social social--position social--hide">
                        <span class="social__name">Share:</span>
                        <a href='#' class="social__variant social--first fa fa-facebook"></a>
                        <a href='#' class="social__variant social--second fa fa-twitter"></a>
                        <a href='#' class="social__variant social--third fa fa-vk"></a>
                    </div>
                </div>
                <p class="post__date">9/10/2021 </p>
                <a href="single-page-left.html" class="post__title test">"Người cố gắng" - Nỗ nực </a>
                <a href="#" class="btn read-more post--btn">Xem chi tiết:</a>
            </div>
        </div>
        <div class="col-sm-4 similar-wrap col--remove">
            <div class="post post--preview post--preview--wide">
                <div class="post__image">
                    <img alt='' src="~/Content/images/client-photo/post-annual.jpg">
                    <div class="social social--position social--hide">
                        <span class="social__name">Share:</span>
                        <a href='#' class="social__variant social--first fa fa-facebook"></a>
                        <a href='#' class="social__variant social--second fa fa-twitter"></a>
                        <a href='#' class="social__variant social--third fa fa-vk"></a>
                    </div>
                </div>
                <p class="post__date">11/10/2021 </p>
                <a href="single-page-left.html" class="post__title">Điện thoại thông minh bản đồ</a>
                <a href="#" class="btn read-more post--btn">Xem chi tiết:</a>
            </div>
        </div>
        <div class="col-sm-4 similar-wrap col--remove">
            <div class="post post--preview post--preview--wide">
                <div class="post__image">
                    <img alt='' src="~/Content/images/client-photo/post-awards.jpg">
                    <div class="social social--position social--hide">
                        <span class="social__name">Share:</span>
                        <a href='#' class="social__variant social--first fa fa-facebook"></a>
                        <a href='#' class="social__variant social--second fa fa-twitter"></a>
                        <a href='#' class="social__variant social--third fa fa-vk"></a>
                    </div>
                </div>
                <p class="post__date">13/10/2021 </p>
                <a href="single-page-left.html" class="post__title">Chú mèo của Thế Kỷ </a>
                <a href="#" class="btn read-more post--btn">Xem chi tiết:</a>
            </div>
        </div>
    </div>
</div>
